<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="msvalidate.01" content="C385554E5AB9E1F4B7D81CBB01EB5246" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body style="background-color: #ed5249;">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-12" align="center">
                <h1 style="color:#ffffff;">Analyse ton site</h1>
            </div>
        </div>
        <br>

        {% block body %} {% endblock %}
    </div>

</body>
</html>